include common
include member

mixin git_section_header(title)
  header.gitsection__header.section__header
    +git_diamond.gitsection__header--diamond
    h2.gitsection__header--title=title

html(lang='ja')
  +head('Gitコマンドかるた', "Gitコマンドが「かるた」になった！　Gitコマンドを楽しく学ぼう")
  body
    +global_header
    main#section-git-karuta
      .gitjumbotron
        .gitjumbotron__img
          +img('./images/jumbotron-git.png', 'プログラミング言語かるた制作プロジェクト第二弾 Gitコマンドかるた')
        .gitjumbotron__lead
          p.gitjumbotron__lead--text
            | バージョン管理ツール 
            span.gitjumbotron__lead--text--em “Git”
            |  のコマンドを
            br
            span.gitjumbotron__lead--text--em かるた
            | で楽しく学習しよう！
      a(href='https://whiims.booth.pm/items/813135')
        .boothbanner
          .boothbanner__img
            +img('./images/git-diamond3.png')
          p.boothbanner__text
            | BOOTHで購入する
      section.section.gitsection
        +git_section_header('商品詳細')
        ul.gitsample
          li.gitsample__item
            .gitsample__item--img
              +img('./images/git-karuta-sample1.png', '裏面にGitのロゴ、表面に「git add <pathspec>...」')
            .gitsample__item--info
              .gitsample__item--info--title 取り札
              p.gitsample__item--info--description
                | Gitコマンドが書かれている。
                br
                | ウラ面は、斜め45度に傾けるとGitのロゴになる。
          li.gitsample__item
            .gitsample__item--img
              +img('./images/git-karuta-sample2.png', '裏面に「Gitコマンドかるた」、表面にGitコマンドとその説明')
            .gitsample__item--info
              .gitsample__item--info--title 読み札
              p.gitsample__item--info--description
                | Gitコマンドとその説明が書かれている。
                br
                | この説明文を読んでどのコマンドかを当てなければならない。
      section.section.gitsection
        +git_section_header('NEWS')
        a(href='https://booth.pm/ja/exhibitions/bf-analoguegames').githover-link
          .gitsample__item.githover
            .gitsample__item--img
              +img('./images/boothfestival.png', 'BOOTH Festival アナログゲーム回 2018年4月6日（金）から4月8日（日）')
            .gitsample__item--info
              .gitsample__item--info--title BOOTH Festivalの波に乗る
              p.gitsample__item--info--description
                | Web上の即売会イベント 
                br
                | “BOOTH Festival アナログゲーム回”に参加中です。
                br
                | 最近はアナログゲームに注目が集まっているみたい。
                br
                | この波に乗りたいぞ～
      section.section.gitsection
        +git_section_header('制作者')
        .gitotherswrapper
          ul.gitmember.member.gitotherswrapper__item
            +smallmember('ちげ', 'Chige12_', 'https://chige12.github.io')
            +smallmember('やましー', 'yamasy1549', 'http://yamasy.info')
          .productionsbanner.gitotherswrapper__item
            a(href='./productions.html')
              +img('./images/productionsbanner.png', 'その他の制作物を見る')
    +sns
    +scripts
    +global_footer

