include common
include member

html(lang='ja')
  +head
  body
    +global_header
    main
      section#section-about
        .jumbotron__logo
          +logo.jumbotron__logo--logo
        .jumbotron__about
          p.jumbotron__about--lead
            | 作りたいものを自由気ままに作りたい。
            br
            | whiimsはそんな個人的な願いから生まれた制作チームです。
          +linkbutton('制作物を見る', './productions.html').jumbotron__about--more
      section.section#section-team-member
        +section_header('Team Member')
        ul.member
          +member('ちげ', 'Chige12_', 'https://chige12.github.io')
            | 奈良高専の5年生。
            br
            | デザインのブログ記事がバズってイキリオタクをしていた。ノートPCでの動画製作がそろそろ限界。好きな食べ物は寿司。
          +member('やましー', 'yamasy1549', 'https://yamasy.info')
            | 明石高専の5年生。
            br
            | 感情がわからないので感情の研究をしている。フォントと衣装製作が好き。「スーツ着て就活したくない」で検索。
    +global_footer
