include common
include gallery

html(lang='ja')
  +head('Productions')
  body
    +global_header
    main
      +page_header
      section.section#section-productions
        +section_header('Productions')
          | 今までに作ったものを紹介します。
        ul.gallery
          +gallery(
            'Gitコマンドかるた',
            'new!',
            './images/git-karuta.jpg',
            'かるた裏面にGitのロゴ、表面に「gitコマンドかるた」の文字',
            './git-karuta.html')
            | バージョン管理ツール“Git”のコマンドを
            br
            | 学習できるかるたです。
          +gallery(
            'プログラミング言語かるた',
            '',
            './images/pro-karuta.png',
            'プログラミング言語かるた制作プロジェクトのロゴ',
            'https://yamasy.info/programming-karuta')
            | 多数あるプログラミング言語の特徴を読み、
            br
            | あてはまる言語をコードなどから当てるゲームです。
          +gallery(
            '難読地名くいず',
            '',
            './images/can-you-read.png',
            '日本地図のシルエットに縦書きで「難読地名くいず」の文字',
            'https://yamasy.info/can-you-read')
            | 各地域の難読地名の読み方をクイズにしたWebアプリ。
            br
            | 縦横Webアワード2016応募作品。
    +global_footer
