.resi_spthx {
  padding: 0 32px;
  a:link,a:visited {
    color: var(--resi-pink);
    text-decoration-line: underline;
  }
}

.resi_spthx__text{
  font-size: 1.1rem;
}
.resi_spthx__lists {
  padding-left: 32px;
  margin: 18px 0;
}
.resi_spthx__list {
  position: relative;
  margin: 8px 0;
}
.resi_spthx__list::before{
  content: "";
  position: absolute;
  top: 0;
  left: -28px;
  bottom: 0;
  margin: auto;
  display: block;
  background-image: url("./images/resi-karuta/resi_shadow.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  width: 18px;
  height: 30px;
}

@media(max-width: 460px){
  .resi_spthx{
    padding: 0 16px;
  }
  .resi_spthx__lists {
    padding-left: 18px;
    margin: 18px 0;
  }
  .resi_spthx__list::before{
    left: -24px;
    background-size: 14px;
  }
}