//resi_topvisual

.resi_topvisual__top{
  display: flex;
  flex-wrap: nowrap;
  &_left{
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }
  &_right{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr 1fr;
  }
}

.resi_topvisual__logo{
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 3;
  padding: 4px;
}
.resi_topvisual__link{
  position: relative;
  margin: 4px;
  overflow: hidden;
  &--red{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
    background: var(--resi-red);
    padding-top: calc(100% - 8px);
  }
  &--orange{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3;
    background: var(--resi-orange);
    padding-top: calc(100% - 8px);
  }
  &--black{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
    background: var(--black);
    padding-top: calc(100% - 8px);
  }
  &--green{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3;
    background: var(--resi-green);
    padding-top: calc(100% - 8px);
  }
  &--purple{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
    background: var(--resi-purple);
  }
  &--gray{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3;
    background: var(--resi-gray);
  }
  &--red,&--orange,&--black,&--green{
    &:hover{
      .resi_topvisual__linkimg{
        transform: translateY(-20px);
      }
      .resi_topvisual__linktext {
        transform: translateY(-28px);
      }
    }
  }
  &--purple,&--gray{
    &:hover{
      .resi_topvisual__linkimg{
        transform: translateY(-48px);
      }
      .resi_topvisual__linktext {
        transform: translateY(-18px);
      }
    }
  }
}

.resi_topvisual__linkimg{
  position: absolute;
  display: block;
  padding: 8px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s ease-out;
  &--purple{
    padding: 16px;
  }
  &--gray {
    width: 96%;
    padding-bottom: 0;
  }
}
.resi_topvisual__linktext {
  position: absolute;
  display: block;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(30px);
  transition: .3s ease-out;
  text-align: center;
  color: var(--white);
  font-weight: 700;
}

.resi_topvisual__bottom{
  display: flex;
  flex-wrap: nowrap;
  &_left{
    width: 50%;
    margin: 4px;
    position: relative;
    height: auto;
    overflow: hidden;
  }
  &_right{
    width: 50%;
    margin: 4px;
    border: 1.2vw solid var(--resistor);
    background: var(--white);
  }
}
.resi_topvisual__photo{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -5%;
  width: 100%;
}
.resi_topvisual__text{
  margin: auto;
  width: 100%;
  padding: 1.5vw;
  color: var(--resi-darkpink);
}
.resi_topvisual__text_catch{
  padding-top: 1.5vw;
  font-size: 1.7vw;
  font-weight: 700;
  &--strong{
    font-size: 2.6vw;
    color: var(--resi-red);
  }
}
.resi_topvisual__text_normal{
  padding-top: 0.9vw;
  font-size: 1.3vw;
  line-height: 1.5;
  p{
    margin: 1.1vw 0;
  }
}
@media(max-width: 920px) {
  .resi_topvisual__link{
    &--red,&--orange,&--black,&--green{
      &:hover{
        .resi_topvisual__linkimg{
          transform: translateY(-20px);
        }
        .resi_topvisual__linktext {
          transform: translateY(-14px);
        }
      }
    }
  }
  .resi_topvisual__text_catch{
    font-size: 2.3vw;
    padding-top:0.3vw;
    &--strong{
      font-size: 3.4vw;
    }
  }
  .resi_topvisual__text_normal{
    padding-top: 0.8vw;
    font-size: 1.8vw;
    line-height: 1.5;
    p{
      margin: 1vw 0;
    }
  }
}
@media(max-width: 680px){
  .resi_topvisual__link{
    &--red,&--orange,&--black,&--green{
      .resi_topvisual__linkimg{
        transform: translateY(-20px);
      }
      .resi_topvisual__linktext {
        transform: translateY(-14px);
      }
      &:hover{
        .resi_topvisual__linkimg{
          transform: translateY(-20px);
        }
        .resi_topvisual__linktext {
          transform: translateY(-14px);
        }
      }
    }
    &--purple,&--gray{
      .resi_topvisual__linkimg{
        transform: translateY(-20px);
      }
      .resi_topvisual__linktext {
        transform: translateY(-14px);
      }
      &:hover{
        .resi_topvisual__linkimg{
          transform: translateY(-20px);
        }
        .resi_topvisual__linktext {
          transform: translateY(-14px);
        }
      }
    }
  }
  .resi_topvisual__linkimg{
    &--purple{
      width: 70%;
      padding: 8px;
    }
    &--gray {
      width: 70%;
      padding-bottom: 0;
    }
  }
  
  .resi_topvisual__top, .resi_topvisual__bottom{
    flex-wrap: wrap;
    &_left{
      width: 100%;
    }
    &_right{
      width: 100%;
    }
  }
  .resi_topvisual__bottom_left{
    padding: calc((100% / 3) - 16px);
  }
  .resi_topvisual__bottom_right{
    border: 3.6vw solid var(--resistor);
  }
  .resi_topvisual__text{
    padding: 4vw;
  }
  .resi_topvisual__text_catch{
    padding-top: 1vw;
    font-size: 4.3vw;
    font-weight: 700;
    &--strong{
      font-size: 6.5vw;
      color: var(--resi-red);
    }
  }
  .resi_topvisual__text_normal{
    padding-top: 2vw;
    font-size: 1rem;
    line-height: 1.5;
    p{
      margin: .6rem 0;
    }
  }
}