// gitjumbotron

#section-git-karuta {
  font-family: "Mplus 1p";
}

.gitjumbotron {
  background: var(--lightbrown);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gitjumbotron__img {
  width: 60%;
  padding: 60px;
}

.gitjumbotron__lead {
  width: 100%;
  background: var(--white);
  text-align: center;
  padding: 60px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.8;
}

.gitjumbotron__lead--text--em {
  color: var(--git-red);
}


// boothbanner

.boothbanner {
  display: block;
  text-align: center;
  padding: 60px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.8;
  background: var(--black);
}

.boothbanner__text {
  color: var(--white);
}


// gitsection

.gitsection {
  margin: 80px calc((100% - var(--section)) / 2);
}

.gitsection__header {
  letter-spacing: 0;
}

.gitsection__header--title {
  font-size: 1.6rem;
  font-weight: 800;
  margin: 15px auto 40px;
}

.gitsection__header--diamond {
  fill: var(--git-red);
  width: 30px;
}


// gitsample

.gitsample__item {
  display: flex;
  margin-bottom: 30px;
}

.gitsample__item--img {
  width: 35%;
  margin: auto 60px;
}

.gitsample__item--info--title {
  font-size: 1.4rem;
  font-weight: 800;
  margin: 20px 0;
}

.gitsample__item--info--description {
  line-height: 2;
  font-size: 1rem;
}


// gitmember, smallmember
// TODO: あとで整理

.gitmember {
  margin: 40px auto 80px;
  justify-content: space-between;
  flex-direction: column;
  width: 45%;
}

.smallmember__item {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-shadow: none;
}


// gitothers

.gitotherswrapper {
  display: flex;
}

.gitotherswrapper__item {
  margin: 0 20px;
}

.productionsbanner {
  width: 55%;
}
