.member {
  margin: 40px auto 80px;
  display: flex;
  justify-content: space-between;
}

.member__item {
  width: 46%;
  padding: 30px;
  background: var(--cream);
  box-shadow: 0px 20px 30px 10px rgba(0,0,0,0.1);
}

.member__item--info {
  display: flex;
  position: relative;
}

.member__item--img {
  display: inline-block;
  width: 25%;
  margin-right: 30px;
}

.member__item--name {
  line-height: 2;
  letter-spacing: 2px;
}

.member__item--name--ja {
  display: block;
  font-size: 1.3rem;
}

.member__item--name--en {
  display: block;
  font-size: 0.9rem;
  text-indent: 0.1rem;
}

.member__item--link {
  position: absolute;
  right: 0;
  top: 10px;
}

.member__item--link--item {
  fill: black;
  width: 30px;
  margin: 5px;
}

.member__item--description {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 2;
}
