*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "NotoSansJP-Regular";
  color: var(--black);
  background: var(--white);
  font-size: 62.5%;
}

@font-face {
  font-family: 'NotoSansJP-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"),
  url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
  url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
  url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSansJP-Light';
  font-style: normal;
  font-weight: 200;
  src: local("Noto Sans CJK JP Light"),
  url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format('woff2'),
  url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format('woff'),
  url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format('opentype');
}
