.pageheader {
  background: url('./images/pageheader.jpg');
  background-size: cover;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pageheader:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--white);
  opacity: 0.4;
}

.pageheader__logo {
  fill: var(--black);
  width: 160px;
  z-index: 10;
}
