:root {
  --black:       #000000;
  --gray:        #30332B;
  --white:       #FFFFFF;
  --pink:        #FF0376;
  --cream:       #FEFFFC;
  --green:       #D0E591;
  --twitter:     #55ACEE;
  --facebook:    #4063a0;

  --section__title--square: 60px;
  --section: 70%;
}
